<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
    <link rel="stylesheet" href="styles/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- site key -->
    <title><%= title %></title>
  </head>
  <body>
    <h1>Hello</h1>
  </body>
</html>
